h1{
    font-weight: lighter;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(117, 20, 32);
}

body
{
    background-color: beige ;
}

button{
    color: aqua;
    background-color: brown;
}
#but{
    color: rgb(20, 30, 220);
    background-color: #abcdef;
}
.headline{
    color: rgb(43, 61, 197);
}
#col{
    color: rgb(255, 0, 242);
}
#li{
    text-align: right;
}
#child{
    text-align: center;
}
a{
    text-decoration: rgb(255, 0, 212) underline;
}